<div class="container">
    <img class="closeContatti" (click)="chiudiModale.emit()"  src="../../../assets/img/menuCloseContatti.svg" alt="">
    <div class="contatti">
        <h3>CONTATTI</h3>
        <div class="telefono">
            <p>CELLULARE: 3310000000</p>
            <a href="tel:+393310000000" target="_blank">
                <img class="loghi" src="../../../assets/img/cornetta_telefonica.svg" alt="">
            </a>
            <a href="https://api.whatsapp.com/send?phone=3314963306&text=CIAO" target="_blank">
                <img class="loghi" src="../../../assets/img/whatsapp.svg" alt="">
            </a>
        </div>
        <div class="telefono">
            <P>UFFICIO: 069630000</P>
            <a href="tel:+39069630000" target="_blank">
                <img class="loghi" src="../../../assets/img/cornetta_telefonica.svg" alt="">
            </a>
        </div>
        <div class="telefono">
            <P>EMAIL: info@studiotecnico.it</P>
            <a href="mailto:info@studiotecnico.it?subject=Richiesta%20informazioni%20&body=Buongiorno,%0A%0AVorrei richiedere informazioni riguardo [SPECIFICARE TIPOLOGIA DI RICHIESTA]. Ho bisogno di [DESCRIVERE DI COSA SI HA BISOGNO].%0A%0AGrazie,"
                target="_blank">
                <img class="loghi" src="../../../assets/img/email.svg" alt="">
            </a>
        </div>
    </div>
    <div class="ufficio">
        <div class="telefono">
            <h3>UFFICIO</h3>
            <P>indirizzo:  </P>
            <a href="https://www.google.com/maps?q=Piazza+Cairoli,+Velletri" target="_blank">
                <img class="loghi" src="../../../assets/img/maps.svg" alt="">
            </a>
        </div>
        <h3>ORARIO DI RICEVIMENTO</h3>
        <p>dal lunedì al venerdi</p>
        <p>dalle ore 9:00 alle ore 18:00</p>
    </div>
</div>