#chi-siamo {
    height: 1px;
    width: 100%;
}

.title {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: calc(100vh - 200px);

    .presentazione {
        padding: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    /* Small devices (landscape phones, 576px and up) */
    @media (max-width: 576px) {
        flex-direction: column;
    }
}