<div id="chi-siamo"></div>
<h2 class="title">CHI SIAMO</h2>
<div class="container">
    <img src="../../../assets/img/sagoma_uomo.jpg" alt="">
    <div class="presentazione">
        <h2>Nome dipendente</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, placeat numquam! Placeat hic totam quis,
            molestiae obcaecati provident qui adipisci voluptatum quia a dignissimos temporibus aperiam ratione iusto
            accusantium aliquam!
        </p>
    </div>
</div>