<div id="servizi"></div>
<div class="container">
    <h2>SERVIZI</h2>
    <div class="container-articoli">
        <div class="servizio">
            <img src="../../../assets/img/catasto.png" alt="">
            <div class="presentazione">
                <h2>CATASTO</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex quos maxime excepturi tempore temporibus
                    suscipit explicabo laboriosam ullam, consequuntur tempora neque fuga dolorum! Molestiae, aliquam!
                </p>
            </div>
        </div>
        <div class="servizio">
            <img src="../../../assets/img/rilievo.jpg" alt="">
            <div class="presentazione">
                <h2>RILIEVI</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, ipsam atque numquam omnis magni
                    consectetur fuga sit blanditiis commodi repellendus ullam velit, aspernatur libero molestiae.</p>
            </div>
        </div>
    </div>
    <div class="container-articoli">
        <div class="servizio">
            <img src="../../../assets/img/pratiche_edilizie.jpg" alt="">
            <div class="presentazione">
                <h2>PRATICHE EDILIZIE</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam culpa autem accusamus saepe nam.
                    Cumque cupiditate vero, rerum laboriosam ullam odit dolorem recusandae tempora. Est!</p>
            </div>
        </div>

        <div class="servizio">
            <img src="../../../assets/img/cantiere.jpg" alt="">
            <div class="presentazione">
                <h2>CANTIERI</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quas nostrum? Eius enim quod
                    dignissimos pariatur molestiae delectus, temporibus vero rerum vitae, iusto inventore velit?</p>
            </div>
        </div>
    </div>
</div>